<ion-view view-title="Mon état">
  <ion-content class="padding">
<div class="row">
   <div class="col text-center">
    <br/><br/><br/><br/>
    <p style="font-size: 8vw;color:#444;line-height:120%;text-align:center;">
        {{tree[treeindex].question}}
    </p>
    <br/>
    <div class="button-bar bar-calm" style="width:90%;padding-left:30px;" ng-show="tree[treeindex].type == 'bool'">
        <a class="button button-large" ng-click="treeindex = tree[treeindex].non">Non</a>
        <a class="button button-large" ng-click="treeindex = tree[treeindex].oui">Oui</a>
    </div>
        <div class="list" ng-show="tree[treeindex].type == 'eva'">
          <div class="item range range-positive">
            0
            <input type="range" name="volume" min="1" max="10" value="1">
            10
          </div>
          5
        </div>
    </div>
    <br/><br/><br/><br/>
</div></div>
  </ion-content>
</ion-view>
