<ion-view view-title="Status">
  <ion-content class="padding">
    <p>
      Ici l'arbre de décision avec les boutons Ionic à venir
    </p>
    <code>
    Allez-vous moins bien qu'aux urgences ?
    Oui / Non
        si oui, Quel est votre niveau de douleur de 1 à 10 => envoyer signal 5-8orange 9-10 rouge
    Votre abdomen est-il gonflé ?
    Oui/Non
    Avez-vous des vosimeents ?
    Oui/non
        si oui, avez-vous réussi à prendre votre traimeent ?
            si oui, avez-vous réussi à boire ? => rouge
    </code>
  </ion-content>
</ion-view>
