<ion-view view-title="Moi">
    <ion-content>
        <div style="padding-left:40px;">
            <br/><br/><br/><br/><br/>
            <p style="font-size: 4vw;color:#888;line-height:150%">Rendez-vous</p>
            <p style="font-size: 9vw;color:#444;">Lundi 21 Novembre</p>
            <br/><br/>
            <p style="font-size: 28vw;color:#444;">10h30</p>
            <br/><br/><br/><br/><br/>
        </div>
        <div style="text-align:center;">
            <button ng-click="openModal()" nav-transition="none" class="button button-large button-balanced" style="line-height: 100px;width: 230px;font-size:30px">MON ETAT</button>
        </div>
    <!--
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    -->
    </ion-content>
</ion-view>
