<ion-view view-title="Information">
    <ion-content class="padding">
      <div class="list card">
        <div class="item">
            <h2>Qu'est-ce que l’appendice ?</h2>
        </div>
        <div class="item item-body">
            <img class="full-image" src="http://static.commentcamarche.net/sante-medecine.journaldesfemmes.com/pictures/PY6294JZ-fotolia-71040277-xs-325px-.png">
            <p>
                L’appendice est une structure tubulaire rattachée au colon droit d’environ 10 cm de long et 6 m de diamètre. Elle peut être le siège d’une inflammation aigue soit en lien avec une infection virale ou bactérienne soit en lien avec une irritation par un stercolithe (agrégat non digéré) qui va obstruer la lumière et provoquer une rétention en amont.
            </p>
        </div>
      </div>
      <div class="list card">
        <div class="item">
            <h2>Qu'est-ce qu'une appendicectomie ?</h2>
        </div>
        <div class="item item-body">
            <p>
                Une appendicectomie résolut efficacement la crise et évite la récidive mais nécessite un geste chirurgical sous anesthésie générale. Le but du traitement est de retirer l’appendice inflammé et nécrosé, d’assurer une fermeture de sa base dans les meilleures conditions pour éviter une fuite dans la cavité abdominale et de nettoyer l’ensemble des débris et épanchements purulents pour éviter la constitution d’abcès post-opératoires. Les complications sont rares et dominées par les risques de saignements et d’abcès au niveau de la paroi ou dans la cavité abdominale.
            </p>
        </div>
      </div>
    </ion-content>
</ion-view>
