<ion-view view-title="Nos échanges">
  <ion-content>
      <div class="card">
      <div class="item item-text-wrap item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-click="">
        {{chat.lastText}}
        <!-- <i class="icon ion-android-checkbox-outline-blank"></i>
        <i class="icon ion-android-checkbox-outline-blank"></i> -->
      </div
    </div>
  </ion-content>
</ion-view>
<div class="list">

  <!-- <div class="item item-button-right">
    Call Ma
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div> -->

  <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
    <img ng-src="{{chat.face}}">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText}}</p>
    <i class="icon ion-chevron-right icon-accessory"></i>

    <ion-option-button class="button-assertive" ng-click="remove(chat)">
      Delete
    </ion-option-button>
  </ion-item> -->
